= simple_form_for @message do |f|

  - # TODO review User.all query
  - # TODO if no first_name and last_name, display user's email
  = f.input :draft_recipient_ids, collection: User.all.reject{|u| u == discuss_current_user }, label: 'Recipients'
  = f.input :subject
  = f.input :body, required: false
  = f.input :draft, as: :boolean

  = f.submit 'Send message'
