= simple_form_for user.sent_messages.new do |f|

  -# if message
    =# f.hidden_field :parent_id, value: message.id

  - # [e] TODO review User.all query
  = f.association :recipients, collection: User.all.reject{|u| u == user }
  = f.input :subject
  = f.input :body

  = f.submit 'Send message'
