= simple_form_for user.sent_messages.new do |f|

  -# if message.nil?
    =# f.hidden_field :parent_id, value: message.id

  = f.association :recipients, collection: Discuss::DiscussUser.all.reject{|u| u == user }
  = f.input :subject
  = f.input :body

  = f.submit 'Send message'
