%section#discuss(class = "#{mailbox_name}")
  %h2= mailbox_name.humanize
  = render 'discuss/shared/nav'

  .compose.message
    = simple_form_for @message do |f|
      - if @message.errors.any?
        %p.errors This message has #{pluralize(@message.errors.count, 'error')}

      = f.input :draft_recipients, collection: recipients, value_method: lambda { |r| recipient_json(r) }, input_html: {class: 'chosen', multiple: true}, label: 'Recipients', selected: f.object.draft_recipients.map { |r| recipient_json(r) }
      = f.input :subject
      = f.input :body, required: false, label: 'Your message'
      = f.input :draft, as: :boolean
      = f.submit 'Send message'
