%section#discuss
  .message
    %h2 Message

    %ul.headers
      %li Subject: #{message.try(:subject)}
      %li Sender: #{message.sender}
      %li Date: #{message.created_at.to_date}
      %li Recipients #{message.recipients.collect(&:name)}

    .body= message.body

  .compose.reply
    %h3 Reply
    = render 'form'

