%section#discuss(class = "#{mailbox_name}")
  %h2= mailbox_name.humanize

  = render 'discuss/shared/nav'

  .message
    %ul.headers
      %li.subject Subject: #{message.try(:subject)}
      %li.sender Sender: #{message.sender}
      %li.sent_at Date: #{message.sent_date.to_date}
      - # Do we want recipient names to be links? or have any data attributes like the user.id?
      %li.recipients Recipients: #{message.recipients.join(', ')}

    .body= markdown(message.body)

    - unless message.trashed?
      .move_to_trash
        = simple_form_for @message, url: message_trash_path(@message), method: :post do |f|
          = f.submit 'Move to trash'

    - if message.received?
      .compose.reply
        %h3 Reply
        = simple_form_for @message, url: message_reply_path(@message), method: :post do |f|
          = f.input :subject, input_html: { value: "Re: #{@message.subject}" }
          = f.input :body, required: false, label: 'Your message', input_html: { value: '' }
          = f.input :draft, as: :boolean
          = f.submit 'Reply'
