.nav
  %ul
    %li.compose= link_to 'Compose', compose_path
    %li.inbox= link_to 'Inbox', mailbox_path(:inbox)
    %li.outbox= link_to 'Outbox', mailbox_path(:outbox)
    %li.drafts= link_to 'Drafts', mailbox_path(:drafts)
    %li.trash= link_to 'Trash', mailbox_path(:trash)

