%section#discuss.mailboxes
  %h2= mailbox_name.humanize

  .summary= pluralize(@messages.size, 'message')

  = render 'discuss/shared/nav'

  %section.messages
    - if @messages.any?
      %table
        %tbody
          - @messages.each do |message|
            %tr[message]
              %td.user
                = link_to message_person(mailbox_name, message), message
              %td.preview
                = link_to message.try(:subject), message
                = link_to truncate(message.body, length: 50), message
              %td.sent_at
                = message.created_at.to_date

      - if mailbox_name == 'trash'
        = form_tag empty_trash_path do
          = submit_tag 'Empty trash'
